<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
        <hibernate-configuration>
        <session-factory>
        <property name="connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
        <property name="connection.url">jdbc:oracle:thin:@localhost:1521:orcl</property>
        <property name="connection.username">system</property>
        <property name="connection.password">vaibhav92</property>
        <!-- connection.provider -->
        <property name="connection.provider_class">org.hibernate.hikaricp.internal.HikariCPConnectionProvider</property>
        <!-- Hikari-cp property -->
   
         <!-- Maximum waiting time for a connection from the pool-->
        <property name="hibernate.hikaricp.connectionTimeout">10</property>
          <!--Minimum number of ideal connections in the pool-->
        <property name="hibernate.hikaricp.minimumIdle">100</property>
          <!-- Maximum number of actual connection in the pool-->
        <property name="hibernate.hikaricp.maximumPoolSize">100</property>
          <!-- Maximum time that a connection is allowed to sit ideal in the pool-->
        <property name="hibernate.hikaricp.idleTimeout">50</property>
    
        <!-- Hibernate property -->
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
        <property name="dialect">org.hibernate.dialect.Oracle10gDialect</property>
        <property name="hbm2ddl.auto">update</property>
        
        <!-- mapping classes -->
          <mapping resource="com/nt/entity/Person.hbm.xml"/>
        </session-factory>
        </hibernate-configuration>